html, body {
    font-family: "Nunito", sans-serif;
}

::-moz-selection {
    background: var(--tertiary);
}

::selection {
    background: var(--tertiary);
}

.social-icons a {
    padding: 5px;
}

header nav div.logo>a:after {
    content: "";
    position: relative;
    display: inline-block;
    background-color: var(--primary);
    vertical-align: middle;
    border-radius: 1px;
    width: 2px;
    height: 24px;
    bottom: 2.5px;
    margin-left: 2.5px;
    opacity: 0;
    -webkit-animation: blink 1.06s linear infinite;
    animation: blink 1.06s linear infinite;
}

#search-toggle {
    width: 24px;
    font-size: 26px;
    margin: auto 4px;
}

#search-toggle.active {
    pointer-events: none;
}

#search-toggle:focus {
    outline: 0;
}

@-webkit-keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.footer svg {
    vertical-align: sub;
    width: 14px;
	height: 14px;
    margin: auto 1px;
}