html, body {
    font-family: "Nunito", sans-serif;
}

::-moz-selection {
    background: var(--tertiary);
}

::selection {
    background: var(--tertiary);
}

.social-icons a {
    padding: 5px;
}

header nav div.logo>a:after {
    content: "";
    position: relative;
    display: inline-block;
    background-color: var(--primary);
    vertical-align: middle;
    border-radius: 1px;
    width: 2px;
    height: 24px;
    bottom: 2.5px;
    margin-left: 2.5px;
    opacity: 0;
    animation: blink 1.06s linear infinite;
}

#search-toggle {
    width: 24px;
    font-size: 26px;
    margin: auto 4px;
}

#search-toggle.active {
    pointer-events: none;
}

#search-toggle:focus {
    outline: 0;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.footer svg, .post-controls svg {
    vertical-align: sub;
    width: 14px;
    height: 100%;
    margin: auto 1px;
}

.post-controls, #control-offlineAccess {
    color: var(--primary);
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
}

#control-offlineAccess:hover {
    cursor: pointer;
}

.dark .insights-widget-container {
    background: var(--entry);
}

.insights-widget-container {
    display: inline-flex;
    width: 100%;
    padding: 0.4em;
    background: var(--code-bg);
    border: 1px solid var(--border);
    border-radius: var(--radius);
}

.insights-widget-icon {
    display: grid;
    min-width: 64px;
    min-height: 64px;
    align-content: center;
    background: var(--code-bg);
    box-shadow: inset 0px 0px 0px 1px var(--border);
    border-radius: var(--radius);
}

.insights-widget-icon svg, .insights-widget-icon img {
    width: 64px;
    height: auto;
    margin: 0;
    border-radius: var(--radius);
}

.insights-widget-icon a {
    display: none;
    box-shadow: none;
}

.insights-widget-icon img:hover {
    filter: opacity(0.75);
}

.insights-widget-content {
    display: grid;
    width: 100%;
    align-content: center;
    margin: 0 0 0 0.4em;
}

.insights-widget-content a, .insights-widget-content p {
    min-width: 0;
    -webkit-user-select: none;
    user-select: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.insights-widget-content a {
    box-shadow: none;
    pointer-events: none;
}

.insights-widget-content a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.insights-widget-content p {
    margin: 0;
}

.interactions-chart {
    width: 100%;
    height: 360px;
}