
{{ $sw := resources.Get "sw.js" | js.Build (dict "params" (dict "md5Hash" (now.UnixNano | md5))) | resources.Minify }}
<script>
    if ("serviceWorker" in navigator) {
        navigator.serviceWorker.register("{{ $sw.RelPermalink }}", {
            updateViaCache: "none"
        }).catch(function(err) {
            return console.error(err);
        });
    }
</script>
<script>
    var email = document.querySelector('a[title^="Email"]');
    if (email) {
        email.addEventListener("click", function (e) {
            e.preventDefault();
            window.location.href = atob("bWFpbHRvOmRodHpzMjAwMUBob3RtYWlsLmNvbQ==");
        });
    }
</script>