
{{ $buildHash := now.UnixNano | md5 -}}
{{- $extraAssetsToCache := slice -}}
{{- range $section := site.Params.mainSections }}
    {{- range $page := seq (math.Ceil (div (float (len (where $.Site.RegularPages "Section" $section))) (float 5))) -}}
        {{- $extraAssetsToCache = $extraAssetsToCache | append (printf "/%s/page/%s/" $section (string $page)) -}}
    {{- end -}}
{{- end -}}
{{ $sw := resources.Get "sw.js" | js.Build (dict "params" (dict
    "buildHash" $buildHash
    "extraAssetsToCache" $extraAssetsToCache
)) | resources.Minify }}
<script>
    if ("serviceWorker" in navigator) {
        navigator.serviceWorker.register("{{ $sw.RelPermalink }}", {
            updateViaCache: "none"
        }).catch(function(err) {
            return console.error(err);
        });
    }
</script>
{{- if .IsHome }}
<script>
    var email = document.querySelector('a[title^="Email"]');
    if (email) {
        email.addEventListener("click", function (e) {
            e.preventDefault();
            window.location.href = atob("bWFpbHRvOmRodHpzMjAwMUBob3RtYWlsLmNvbT9zdWJqZWN0PUp1c3QlMjBzYXlpbmclMjBoaSE=");
        });
    }
</script>
{{- end }}
{{- if and (in site.Params.mainSections .Section) (not .IsPage) }}
<script>
    if ("serviceWorker" in navigator && "caches" in window) {
        let xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4) {
                if (xhr.status === 0) {
                    caches.open("offline-access").then(function (cache) {
                        return cache.keys().then(function (keyList) {
                            return Promise.all(keyList.map(function (key) {
                                return key.url;
                            }));
                        }).then(function (keyList) {
                            document.querySelectorAll(".post-entry").forEach(function (entry) {
                                if (keyList.indexOf(entry.querySelector("a").href) !== -1) {
                                    entry.style.borderColor = "#a6da95";
                                    entry.style.pointerEvents = "auto";
                                } else {
                                    entry.style.borderColor = "#ed8796";
                                    entry.style.pointerEvents = "none";
                                }
                            });
                        });
                    });
                }
            }
        }
        xhr.open("GET", "/ping?v" + Date.now(), true);
        xhr.send();
    }
</script>
{{- end }}
{{- if and .IsPage (not .IsHome) (not (.Param "hideMeta")) }}
<script>
    var postControls = document.querySelector(".post-controls");
    if (postControls) {
        if ("serviceWorker" in navigator && "caches" in window) {
            postControls.innerHTML += '<div id="control-offlineAccess"></div>';
            var offlineAccessControl = document.querySelector(".post-controls #control-offlineAccess");

            function checkIfCached () {
                return caches.open("offline-access").then(function (cache) {
                    return cache.match(location.pathname).then(function (match) {
                        return !!match;
                    });
                });
            }

            function addToCache () {
                return caches.open("offline-access").then(function (cache) {
                    let xhr = new XMLHttpRequest();
                    xhr.onreadystatechange = function () {
                        if (xhr.readyState === 4) {
                            if (xhr.status === 200) {
                                let data = JSON.parse(xhr.responseText).find(function (data) {
                                    return data.permalink.indexOf(location.pathname) !== -1;
                                });
                                data.resources.forEach(function (resource) {
                                    cache.add(resource);
                                });
                                cache.add(data.permalink);
                            }
                        }
                    }
                    xhr.open("GET", "/index.json");
                    xhr.send();
                });
            }

            function removeFromCache () {
                return caches.open("offline-access").then(function (cache) {
                    let xhr = new XMLHttpRequest();
                    xhr.onreadystatechange = function () {
                        if (xhr.readyState === 4) {
                            if (xhr.status === 200) {
                                let data = JSON.parse(xhr.responseText).find(function (data) {
                                    return data.permalink.indexOf(location.pathname) !== -1;
                                });
                                data.resources.forEach(function (resource) {
                                    cache.delete(resource);
                                });
                                cache.delete(data.permalink);
                            }
                        }
                    }
                    xhr.open("GET", "/index.json");
                    xhr.send();
                });
            }

            function updateOfflineAccessControl (isCached) {
                if (!isCached) {
                    offlineAccessControl.innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="1" y1="1" x2="23" y2="23"/><path d="M16.72 11.06A10.94 10.94 0 0 1 19 12.55"/><path d="M5 12.55a10.94 10.94 0 0 1 5.17-2.39"/><path d="M10.71 5.05A16 16 0 0 1 22.58 9"/><path d="M1.42 9a15.91 15.91 0 0 1 4.7-2.88"/><path d="M8.53 16.11a6 6 0 0 1 6.95 0"/><line x1="12" y1="20" x2="12.01" y2="20"/></svg>&nbsp;Turn on offline access';
                    offlineAccessControl.style.color = "#a6da95";
                } else {
                    offlineAccessControl.innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12.55a11 11 0 0 1 14.08 0"/><path d="M1.42 9a16 16 0 0 1 21.16 0"/><path d="M8.53 16.11a6 6 0 0 1 6.95 0"/><line x1="12" y1="20" x2="12.01" y2="20"/></svg>&nbsp;Turn off offline access';
                    offlineAccessControl.style.color = "#ed8796";
                }
            }

            checkIfCached().then(function (isCached) {
                updateOfflineAccessControl(isCached);
            });
            offlineAccessControl.addEventListener("click", function () {
                checkIfCached().then(function (isCached) {
                    if (!isCached) {
                        addToCache().then(updateOfflineAccessControl(true));
                    } else {
                        removeFromCache().then(updateOfflineAccessControl(false));
                    }
                });
            });
        }
    }
</script>
{{- end}}