<form action="/api/email" method="post" autocomplete="off">
    <label for="name">Name</label>
    <input type="text" name="name" placeholder="Your name" role="presentation" autocomplete="off" required>
    <label for="email">Email</label>
    <input type="email" name="email" placeholder="Your email" role="presentation" autocomplete="off" required>
    <label for="message">Message</label>
    <textarea rows="5" name="message" placeholder="Your message" required></textarea>
    <button type="submit">Submit</button>
</form>
